<ion-header-bar class="bar-positive">
	<button class="button button-icon icon ion-arrow-left-c flat" ng-click="detailsCtrl.back()"></button>
	<h1 class="title">Détails</h1>
</ion-header-bar>

<div class="ionic has-header details" ng-init="detailsCtrl.getData()">
	<div class="hero has-mask"
				style="background-image: url('{{ detailsCtrl.data.image == null ? 'img/img_not_found.svg' : detailsCtrl.data.image; }}')">
		<div class="content">
			<button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-share pull-right text-white" ng-click="detailsCtrl.socialSharing()"></button>
		</div>
	</div>
	<div class="mid-bar dark-bg z1 padding">
		<h3 ng-bind-html="detailsCtrl.data.name"></h3>
		<p>
			<i class="icon ion-clock"></i>
			{{(detailsCtrl.data.open|date:"HH:mm dd-MMM")}} - {{ detailsCtrl.data.price == null ? "" : detailsCtrl.data.price}}
		</p>
	</div>
	<div class="content double-padding">
		<h4 class="positive">Description</h4>
		<p ng-bind-html="detailsCtrl.data.description" class="text-muted"></p>
        
        <h3 class="positive">Le lieu</h4>
		<h5 ng-bind-html="detailsCtrl.data.place_name" class="positive"></h5>
		<p ng-bind-html="detailsCtrl.data.address" class="propositionAdress text-muted"></p>
	</div>
</div>