<ion-header-bar class="bar-positive">
	<button class="button button-icon icon ion-arrow-left-c flat" ng-click="detailsCtrl.back()"></button>
	<h1 class="title">Détails</h1>
</ion-header-bar>

<div class="ionic has-header">
	<div 	class="hero has-mask"
				style="background-image: url('http://ionicmaterial.com/preview/img/mountains.jpg');">
		<div class="content">
			<button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-share pull-right text-white"></button>
		</div>
	</div>
	<div class="mid-bar dark-bg z1 padding">
		<h3>Titre</h3>
		<p>
			<i class="icon ion-clock"></i>
			Aujourdhui - Gratuit
		</p>
	</div>
	<div class="content double-padding">
		<h4 class="positive">Titre</h4>
		<p class="text-muted">Description longue</p>
		<h4 class="positive">Lieu</h4>
		<p class="text-muted">Rue jean test</p>
	</div>
</div>