<ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c flat"></button>
  <h1 class="title">Liste des propositions</h1>
</ion-header-bar>

<div ng-repeat="(key, p) in propositionsCtrl.data track by $index" class="content has-header animate-fade-in">
    <div class="card">
        <div class="item item-avatar stable-bg waves-effect waves-block waves-dark">
            <span class="avatar" style="background-image: url('')"></span>
            <strong>Title</strong>
            <p>{{ p.lieu }}</p>
            <div class="card-footer text-left">
                <i class="icon ion-clock"></i>
                <span>start</span>
            </div>
        </div>
    </div>
</div>
<!--
<div class="content has-header animate-fade-in">
    <div class="card">
        <div class="item item-avatar waves-effect waves-block waves-dark">
            <span class="avatar" style="background-image: url('')"></span>
            <strong>Title 2</strong>
            <p>{{ propositionsCtrl.data[1].lieu }}</p>
            <div class="card-footer text-left">
                <i class="icon ion-clock"></i>
                <span>start</span>
            </div>
        </div>
    </div>
</div>

<div class="content has-header animate-fade-in">
    <div class="card">
        <div class="item item-avatar waves-effect waves-block waves-dark">
            <span class="avatar" style="background-image: url('')"></span>
            <strong>Title 3</strong>
            <p>address</p>
            <div class="card-footer text-left">
                <i class="icon ion-clock"></i>
                <span>start</span>
            </div>
        </div>
    </div>
</div>
-->