<ion-header-bar align-title="center" class="bar-positive">
  <button class="button button-icon icon ion-arrow-left-c flat" ng-click="propositionsCtrl.back()"></button>
  <h1 class="title">Votre soirée</h1>
</ion-header-bar>

<div class="content has-header">
    <div ng-repeat="(key, p) in propositionsCtrl.data track by $index" class="card-animation card" style="animation-delay: {{($index * 80)}}ms">
            <div ui-sref="details({dataID: key})" class="item item-avatar waves-effect waves-block waves-dark">
                <span class="avatar" style="background-image: url('')"></span>
                <strong>Title</strong>
                <p>{{ p.lieu }}</p>
                <div class="card-footer text-left">
                    <i class="icon ion-clock"></i>
                    <span>start</span>
                </div>
            </div>
    </div>
</div>