
.categories div.card .badge.badge-assertive{ top: 7px; right: 7px; position:absolute; font-size: 13px; padding: 1px 5px;}
.categories div.ion-arrow-right-c {
	width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    background: #387ef5;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-size: 25px;
}
.mon_a  {text-decoration: none;}
.mon_a	h2{text-shadow: 4px 4px 13px rgba(150, 150, 150, 1);}
div.card.dark-bg.in{background: #ccc no-repeat center top; background-size: cover; height: calc((100% / 6) - 9px);  padding: 5px 20px;}
a.mon_a{border:none;}
div.list{height: 100%}
.categories.has-header {height: 100%;}

div.card.dark-bg.in.pressing:after {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}